#maincontent-wrapper{
	width: 85%;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	font-size: 1.25em;
}
#text h2{
	font-family: "Pacifico";
	font-size: 2em;
	margin-top: 20px;

}
#text .subtitle{
	font-size: 1.5em;
	font-weight: bold;
}
#text p{
	text-align: justify;
}

