#banner{
	background-image: url("background.jpg");
}
iframe{
	width: 100%;
	height: 450px;
	border:0;
	margin-top: 5%;
}

#text p{
	text-align: center;
	margin-bottom: 6%;
	margin-top: 1%;
}
.details h3,#right h3{
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 2%;
}

.details{
	float: left;
	width: 32%;
}
#right{
	float: right;
	width: 32%;
}
#contact-info:after{
	clear: both;
	display: block;
	content: "";
}
.details figure, #right figure{
	margin-bottom: 5%;
}

#right a{
	text-decoration: none;
	color: #fff;
}

@media only screen and (max-width: 1024px){
	#text p, .details address,#right p,#right address{
		font-size: 0.9em;
	}
	.details img, #right img{
		width: 13%;
	}
	.details h3, #right h3{
		font-size: 1.25em;
	}
}

@media  only screen and (max-width: 768px){

  	#banner{
  		height: 400px;
  	}
 	
 	 #text-wrap .pretitle{
		font-size: 1.125em; 
	}
	#text-wrap h1{
		font-size: 1.975em;
		
	}	
	#text h2{
		font-size: 1.5em;
	}
	
	.details, #right{
		width: 70%;
		margin-bottom:7%;
	}
	.details{
		margin-left: 15%;
	}
	#right{
		margin-right: 15%;
	}
	.details figure, #right figure{
		margin-bottom: 2%;
	}
	.details img, #right img{
		width: 9%;
	}

	.details h3, #right h3{
		font-size: 1.1em;
	}
	
		
}
@media only screen and (max-width: 480px){
	
  	#banner{
  		height: 350px;
  	}
 	
 	 #text-wrap .pretitle{
		font-size: 1em; 
	}
	#text-wrap h1{
		font-size: 1.5em;
	}	
	#text p{
		margin-bottom: 10%;
	}
	#text p,.details address,#right p,#right address{
		font-size: 0.75em;
	} 
	.details, #right{
		margin-bottom:10%;
	}
	.details img, #right img{
		width: 13%;
	}
	
}



