#content-display article{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 20px;
	align-items: center;
	justify-content: center;
  	text-align: justify;
  	padding: 20px;
}
.description h3, .description .additional{
	text-transform: uppercase;
	text-align: left;
}